:root {
    --top-menu-bg:rgb(46, 28, 28); /* Set your desired background color */
  }

  body {
    margin: 0;
    padding: 0;
  }

  #top-menu {
    height: 100%;
    background-color: var(--top-menu-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }